.git
.gitignore

.env
google.json

__pycache__/
venv/
env/
.venv/

*.parquet
*.csv
*.tmp
era5_data_parquet/
weather_data_parquet/
utci_data_parquet/
pet_data_csv/
analytics_data_csv/
combined_data_parquet/
output_tiles/