*.csv
*.parquet
.ruff_cache/
raw_*/
utci_*/
weather_*/
test_*_parquet/
test_*_csv/
__pycache__/
venv
.venv/
*.md
!README.md
.env
google.json
raw_weather_grib
pet_data_csv
combined_data_parquet
analytics_data_csv
era5_data_parquet
output_tiles
.conda
*.log
.coverage
coverage.xml