*.csv
!cities_na.csv
!cities_na_isd_stations.csv
!cities_na_centers.csv
!cities_eu_era5land_cells.csv
na/
backup/
*.parquet
.ruff_cache/
raw_*/
utci_*/
weather_*/
test_*_parquet/
test_*_csv/
__pycache__/
venv
.venv/
*.md
!README.md
.env
google.json
raw_weather_grib
combined_data_parquet
analytics_data_csv
output_tiles
.conda
*.log
.coverage
coverage.xml
