*.csv
backup/
!cities_nldas_cells.csv
!cities_lcd_stations.csv
!cities_isd_stations.csv
!cities_ca.csv
!cities_ca_eccc_stations.csv
*.parquet
.ruff_cache/
raw_*/
utci_*/
weather_*/
test_*_parquet/
test_*_csv/
__pycache__/
venv
.venv/
*.md
!README.md
.env
google.json
raw_weather_grib
combined_data_parquet
analytics_data_csv
output_tiles
.conda
*.log
.coverage
coverage.xml
